*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #1f2d5b;
}
#head1{
    background-color: #cdd4e9;
    color:#1f2d5b;
}
.container{
    background-color: #2c58eb;
    max-width: 700px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0, 0.6);
    margin: 20px auto;
    margin-top: 40px;
    border-radius: 5px;
    
    justify-content: center;
    align-content: center;
}
form{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
form input[type="text"]{
    padding: 10px;
    font-size: 18px;
    font-style: italic;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
}
form input[type="submit"]{
    padding: 10px 10px;
    border: none;
    background-color: #287cd1;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    margin-left:10px;
}
form input[type="submit"]:hover{
    background-color: rgb(18, 123, 66);
}
.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.temp{
    font-size: 40px;
    font-weight: 1000;
    margin-top: 10px;
    color: rgb(239, 243, 248);
}
.desc{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(239, 243, 248);
    text-transform: capitalize;
    margin-bottom: 20px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:white;
    text-transform: capitalize;
}

.details>div{
    font-size: 18px;
    background-color: #e1deff;
    color:black;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    min-height: 40px;
    text-align: center;
    align-items: center;
    flex: 1;
}